<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Ibrahim Nassar</a></h1>
      <div class="social-links mt-3 text-center">
        <a target="_blank" href="https://twitter.com/bobnassar93" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/nassarbob/" class="facebook"><i
            class="bx bxl-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/bobnassar93/" class="instagram"><i
            class="bx bxl-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/ibrahim-nassar/" class="linkedin"><i
            class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a (click)="hideSideBar()" href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i>
            <span>Home</span></a></li>
        <li><a (click)="hideSideBar()" href="#about" class="nav-link scrollto"><i class="bx bx-user"></i>
            <span>About</span></a></li>
        <li><a (click)="hideSideBar()" href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
            <span>Resume</span></a></li>
        <!-- <li><a (click)="hideSideBar()" href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
            <span>Portfolio</span></a>
        </li> -->
        <!-- <li><a (click)="hideSideBar()" href="#services" class="nav-link scrollto"><i class="bx bx-server"></i>
            <span>Services</span></a></li> -->
        <li><a (click)="hideSideBar()" href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
            <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header>
