<section id="about" class="about">
  <div class="container">
    <!--
    <div class="section-title">
      <h2>About</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div> -->

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content vertical-center" data-aos="fade-left">
        <h3>Fullstack Web Developer.</h3>
        <p class="fst-italic">
          I love writing code, creating web components and styling them.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 August 1993</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <a href="tel:+96171725044">+961 71
                  725044</a></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kousba, Lebanon</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{age}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                <span>Bachelor in Computer Science</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <a
                  href="mailto: nassarbob@outlook.com">nassarbob@outlook.com</a></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available <i
                    class="bi bi-check-circle text-success"></i></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
