<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">PROFESSIONAL SUMMARY</h3>
        <div class="resume-item pb-0">
          <h4>Ibrahim Nassar</h4>
          <p><em>Solution-oriented Computer Scientist with a wide variety of professional expreriences. Self motivating,
              passionate about writing code and helping others and educating them.</em>
          </p>
          <ul>
            <li>
              Application Analyst with 6 years of professional experience working at one of the leading medical centers
              in
              the Middle East
            </li>
            <li>
              Utilizing multi-tasking and interpersonal skills to meet organizational objectives.
            </li>
            <li>
              Adept at developing and implementing departmental policies and procedures.
            </li>
            <li>
              Diplomatic at resolving complex issues and problems arising in the workplace.
            </li>
            <li>
              Team driven who is acutely attentive to colleagues and users’ needs.
            </li>
            <li>
              Punctual problem solver and avid multitasker.
            </li>
            <li>
              Strong belief that all work issues can be effectively resolved with the assimilation and examination of
              varied opinions from fellow professionals.
            </li>
          </ul>
        </div>

        <h3 class="resume-title">EDUCATION</h3>
        <div class="resume-item">
          <h4>Bachelor in Computer Science</h4>
          <h5>2011 - 2014</h5>
          <p><em>American University of Culture and Education (AUCE), Lebanon</em></p>
        </div>
        <div class="resume-item">
          <h4>Hybrid Mobile Apps development workshop</h4>
          <h5>2014</h5>
          <p><em>Building and creating hybrid mobile apps using Phonegap/Cordova</em></p>
        </div>
        <div class="resume-item">
          <h4>Full Stack web development training</h4>
          <h5>2021</h5>
          <p><em>Build full stack solutions using latest web technologies and frameworks</em></p>
        </div>
        <h3 class="resume-title">LANGUAGES</h3>
        <div class="resume-item">
          <p><em>Arabic (Native)</em></p>
          <p><em>English (Proficient)</em></p>
          <p><em>French (Intermediate)</em></p>
        </div>
        <div class="resume-item">
          <h4>Skills, Competences & Interests</h4>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <ul>
                <li>Microsoft Office</li>
                <li>HTML5, JavaScript (ES6), CSS 3 & SCSS</li>
                <li>C#, Python</li>
                <li>Visual Studio 2019</li>
                <li>Visual Studio Code</li>
                <li>Microsoft SQL Server 2019</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <ul>
                <li>Angular 13</li>
                <li>Ionic 5</li>
                <li>TypeScript</li>
                <li>NodeJs & Express Server</li>
                <li>MongoDB</li>
                <li>.Net 5</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">PROFESSIONAL EXPERIENCE</h3>
        <div class="resume-item">
          <h4>AMERICAN UNIVERSITY OF BEIRUT MEDICAL CENTER - BEIRUT, LEBANON</h4>
          <h5>2015 - Present</h5>
          <p><em>Hamra, Beirut</em></p>
          <ul>
            <li>
              Developing web applications to facilitate the Biomedical Engineering Department workflow and procedures.
            </li>
            <li>
              Developed MEASSET web application to streamline Biomedical Engineering workflow and transform the
              preventive maintenance procedure from paper-based to paperless fillable forms.
            </li>
            <li>
              Developed MEINVENTORY web application for adding IT assets with detailed related information including
              updates, upgrades, Software revisions and risk assessment.
            </li>
            <li>
              Programming in C# or VB.NET, HTML5, JavaScript, CSS and jQuery.
            </li>
            <li>
              System Administrator on servers related to Medical Engineering department and major Medical Equipment.
            </li>
            <li>
              Performing software installation and periodic data backups for computerized medical equipment.
            </li>
            <li>
              Performing installation, pre-acceptances testing, and user training on computers linked to Medical
              Equipment according to procedures which comply with standards and recommendations of governing agencies.
            </li>
            <li>
              Supervising installations of new medical equipment.
            </li>
            <li>
              Participating in establishing and maintaining safety and cyber security, environmental and infection
              control standards.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Certifications</h4>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <h5>LinkedIn Learning</h5>
              <ul>
                <li>Learning Python</li>
                <li>Python Essential Training</li>
                <li>Programming Foundations: Algorithm</li>
                <li>Advanced Python</li>
                <li>Python GUI Development with Tkinter</li>
                <li>Learning Python Generators</li>
                <li>Learning the Python 3 Standard Library</li>
                <li>TypeScript: Object-Oriented Programming</li>
                <li>Ionic 4.0 Essential Training</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <h5>Online Courses</h5>
              <ul>
                <li>Angular 8 essential training</li>
                <li>TypeScript Course for Beginners</li>
                <li>Ionic 4 training</li>
                <li>Advanced Python</li>
                <li>
                  <b>Fullstack training:</b>
                  <ul>
                    <li>
                      Angular 13
                    </li>
                    <li>
                      NodeJs + Express Server
                    </li>
                    <li>
                      MSSQL
                    </li>
                    <li>
                      .Net 5
                    </li>
                    <li>
                      ReactJS + ReactNative
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>