<main id="main">

  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <!-- <app-facts></app-facts> -->
  <!-- End Facts Section -->

  <!-- ======= Skills Section ======= -->
  <!-- <app-skills></app-skills> -->
  <!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <app-resume></app-resume>
  <!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- <app-portfolio></app-portfolio> -->
  <!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
  <!-- <app-my-services></app-my-services> -->
  <!-- End Services Section -->

  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->

</main>
